body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 100px 50px 50px 50px;
  font-family: 'Nexa Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiasd;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Nexa";
  src: local("Nexa"), url(Nexa-Bold.otf) format('opentype');
}

.temperament {
  font-family: "Nexa";
  src: local("Nexa"), url(Nexa-Light.otf) format('opentype');
}